weather.ezclickgo.com {
 encode zstd gzip
 handle_path /trip-api/* {
  request_body {
   max_size 16KB
  }
  reverse_proxy 127.0.0.1:8767
 }
 handle_path /weather-types/* {
  reverse_proxy 127.0.0.1:8766
 }
 handle {
  root * /srv
  try_files {path} /index.html
  header /index.html Cache-Control "no-cache"
  file_server
 }
}
http://127.0.0.1:8088 {
 bind 127.0.0.1
 handle_path /trip-api/* {
  request_body {
   max_size 16KB
  }
  reverse_proxy 127.0.0.1:8767
 }
 handle_path /weather-types/* {
  reverse_proxy 127.0.0.1:8766
 }
 handle {
  root * /srv
  try_files {path} /index.html
  file_server
 }
}